In [1]:
#mount the drive

from google.colab import drive
drive.mount('/content/mydrive/')

Mounted at /content/mydrive/

In [2]:
%mkdir /content/mydrive/MyDrive/Datetime

mkdir: cannot create directory ‘/content/mydrive/MyDrive/Datetime’: File exists

In [3]:
%cd /content/mydrive/MyDrive/Datetime

/content/mydrive/MyDrive/Datetime

In [4]:
! git clone https://github.com/dalmiaujjwal/Data_Wrangling_Tips_Tricks.git

fatal: destination path 'Data_Wrangling_Tips_Tricks' already exists and is not an empty directory.

### pd.read_csv(parse_dates = ) to deal with datetime

In [5]:
path = '/content/mydrive/MyDrive/Datetime/Data_Wrangling_Tips_Tricks/Scenario_7'

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(path+'/Date_Dataset.csv', parse_dates = ['release_date']) ###The parameter expects us to pass all the date column names as a list. If the date values in these columns are correct, it will parse the columns as a date-time datatype.
df.head()

  release_date  release_date_int release_date_text  year  month  day
0          NaT          20190317        2019#17#03  2019      3   17
1   2004-08-06          20040806        2004#06#08  2004      8    6
2   2014-10-10          20141010        2014#10#10  2014     10   10
3   2012-03-09          20120309        2012#09#03  2012      3    9
4   2009-02-05          20090205        2009#05#02  2009      2    5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       2999 non-null   datetime64[ns]
 1   release_date_int   3000 non-null   int64
 2   release_date_text  3000 non-null   object
 3   year               3000 non-null   int64
 4   month              3000 non-null   int64
 5   day                3000 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 140.8+ KB

In [9]:
df_1 = pd.read_csv(path+'/Date_Dataset.csv', parse_dates = ['release_date', 'release_date_int', ["year","month", "day"]])
#[] -> existing column
# list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
# list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.

In [10]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year_month_day     3000 non-null   datetime64[ns]
 1   release_date       2999 non-null   datetime64[ns]
 2   release_date_int   3000 non-null   datetime64[ns]
 3   release_date_text  3000 non-null   object
dtypes: datetime64[ns](3), object(1)
memory usage: 93.9+ KB

In [11]:
df_1.head()

  year_month_day release_date release_date_int release_date_text
0     2019-03-17          NaT       2019-03-17        2019#17#03
1     2004-08-06   2004-08-06       2004-08-06        2004#06#08
2     2014-10-10   2014-10-10       2014-10-10        2014#10#10
3     2012-03-09   2012-03-09       2012-03-09        2012#09#03
4     2009-02-05   2009-02-05       2009-02-05        2009#05#02

In [12]:
df_2 = pd.read_csv(path+'/Date_Dataset.csv', parse_dates = {'combine_date': ["year","month", "day"]})
#{}: dictionary ---> {new name: [list of combined columns]}

In [13]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   combine_date       3000 non-null   datetime64[ns]
 1   release_date       2999 non-null   object
 2   release_date_int   3000 non-null   int64
 3   release_date_text  3000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 93.9+ KB

### to_datetime()

In [14]:
df_3 = pd.read_csv(path +'/Date_Dataset.csv')
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       2999 non-null   object
 1   release_date_int   3000 non-null   int64
 2   release_date_text  3000 non-null   object
 3   year               3000 non-null   int64
 4   month              3000 non-null   int64
 5   day                3000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 140.8+ KB

In [15]:
df_3['release_date_convert'] = pd.to_datetime(df_3['release_date_text'], format ="%Y#%d#%m")  
# datetime.strptime() class method
#  %Y  Year with century as a decimal number. eg. 2013
#  %y  Year without century as a zero-padded decimal number: e.g 03, 13, 09
#  %m  Month as a zero-padded decimal number. e.g. 01, 02, …, 12
#  %M  Minute as a zero-padded decimal number. e.g. 00, 01, …, 59
#  %d  Day of the month as a zero-padded decimal number. e.g. 01, 02, …, 31
#  %w %A %a  Weekday as a decimal number, where 0 is Sunday and 6 is Saturday./ locale full name / obbreviate name

In [16]:
df_3['rel_date_int'] =  pd.to_datetime(df_3['release_date_int'], format ="%Y%m%d")

### add or substract days (time interval) on top of datetime

### using timedelta(days=5, hours=-5)
### using DateOffset(days=5/years=2)

In [17]:
from datetime import datetime, timedelta

# df_3['weekago'] = pd.to_datetime(df_3['release_date_int'], format = "%Y%m%d") - 7  ## adding integer does not work

#shift time a week ago
df_3['weekago'] = pd.to_datetime(df_3['release_date_int'], format = "%Y%m%d") - timedelta(days=7)
print(df_3[['weekago','rel_date_int']])

        weekago rel_date_int
0    2019-03-10   2019-03-17
1    2004-07-30   2004-08-06
2    2014-10-03   2014-10-10
3    2012-03-02   2012-03-09
4    2009-01-29   2009-02-05
...         ...          ...
2995 1994-04-15   1994-04-22
2996 2013-03-21   2013-03-28
2997 1996-10-04   1996-10-11
2998 2004-01-09   2004-01-16
2999 2011-09-15   2011-09-22

[3000 rows x 2 columns]

In [18]:
#shift time 2 years later
df_3['weekago_1'] = pd.to_datetime(df_3['release_date_int'], format = "%Y%m%d") + timedelta(days=730)
print(df_3[['weekago_1','rel_date_int']])

      weekago_1 rel_date_int
0    2021-03-16   2019-03-17
1    2006-08-06   2004-08-06
2    2016-10-09   2014-10-10
3    2014-03-09   2012-03-09
4    2011-02-05   2009-02-05
...         ...          ...
2995 1996-04-21   1994-04-22
2996 2015-03-28   2013-03-28
2997 1998-10-11   1996-10-11
2998 2006-01-15   2004-01-16
2999 2013-09-21   2011-09-22

[3000 rows x 2 columns]

In [19]:
##another way to use it is to using DateOffset()

df_3['2year_later'] = df_3['rel_date_int'] + pd.DateOffset(years=2)
df_3['1month_ago'] = df_3['rel_date_int'] + pd.DateOffset(months=-1)
df_3['10day_ago'] = df_3['rel_date_int'] + pd.DateOffset(days=-10)

print(df_3[['rel_date_int', '2year_later', '1month_ago', '10day_ago']])

     rel_date_int 2year_later 1month_ago  10day_ago
0      2019-03-17  2021-03-17 2019-02-17 2019-03-07
1      2004-08-06  2006-08-06 2004-07-06 2004-07-27
2      2014-10-10  2016-10-10 2014-09-10 2014-09-30
3      2012-03-09  2014-03-09 2012-02-09 2012-02-28
4      2009-02-05  2011-02-05 2009-01-05 2009-01-26
...           ...         ...        ...        ...
2995   1994-04-22  1996-04-22 1994-03-22 1994-04-12
2996   2013-03-28  2015-03-28 2013-02-28 2013-03-18
2997   1996-10-11  1998-10-11 1996-09-11 1996-10-01
2998   2004-01-16  2006-01-16 2003-12-16 2004-01-06
2999   2011-09-22  2013-09-22 2011-08-22 2011-09-12

[3000 rows x 4 columns]

### apply(lambda x: datetime.strftime())

In [20]:
from datetime import datetime 

#The strftime() function is used to convert date and time objects to their string representation.
# df_3['weekday'] = datetime.strftime(df_3['release_date_convert'], '%A') --->it cannot deal with column but one data point

df_3['weekday'] = df_3['release_date_convert'].apply(lambda x: datetime.strftime(x, '%A')) #use apply function when manipulating for the whole column
df_3['weekday'].value_counts()

Friday       1347
Thursday      617
Wednesday     449
Tuesday       190
Saturday      158
Monday        124
Sunday        115
Name: weekday, dtype: int64

### Compute the time difference from now on

#### datetime.now() ---> current time

In [21]:
df_3['time_diff'] = datetime.now() - df_3['rel_date_int']

In [22]:
df_3['time_diff']

0       1335 days 16:28:47.948410
1       6671 days 16:28:47.948410
2       2954 days 16:28:47.948410
3       3899 days 16:28:47.948410
4       5027 days 16:28:47.948410
                  ...
2995   10430 days 16:28:47.948410
2996    3515 days 16:28:47.948410
2997    9527 days 16:28:47.948410
2998    6874 days 16:28:47.948410
2999    4068 days 16:28:47.948410
Name: time_diff, Length: 3000, dtype: timedelta64[ns]

In [ ]:
df_3['time_diff'] =  df_3['rel_date_int'].apply(lambda x: datetime.now() - x)

In [27]:
#strftime() is time-->str, strptime is str--->time, both need to clarify the format

df_3['tenure'] = df_3['rel_date_int'].apply(lambda x: datetime.strptime('2022-11-10', '%Y-%m-%d') - x)
df_3['tenure']
### this mostly return only days, if you want to get years, use dateutil lib
# relativedelta(day1, day2)

0       1334 days
1       6670 days
2       2953 days
3       3898 days
4       5026 days
          ...
2995   10429 days
2996    3514 days
2997    9526 days
2998    6873 days
2999    4067 days
Name: tenure, Length: 3000, dtype: timedelta64[ns]

In [29]:
from dateutil import relativedelta

df_3['tenure_detail'] = df_3['rel_date_int'].apply(lambda x: relativedelta.relativedelta(datetime.strptime('2022-11-10', '%Y-%m-%d'), x))
df_3['tenure_detail']  ###this will return the all details

0        relativedelta(years=+3, months=+7, days=+24)
1        relativedelta(years=+18, months=+3, days=+4)
2                  relativedelta(years=+8, months=+1)
3        relativedelta(years=+10, months=+8, days=+1)
4        relativedelta(years=+13, months=+9, days=+5)
                            ...
2995    relativedelta(years=+28, months=+6, days=+19)
2996     relativedelta(years=+9, months=+7, days=+13)
2997               relativedelta(years=+26, days=+30)
2998    relativedelta(years=+18, months=+9, days=+25)
2999    relativedelta(years=+11, months=+1, days=+19)
Name: tenure_yr, Length: 3000, dtype: object

In [30]:
#relativedelta.relativedelta().years/xxxxxx return specific unit

df_3['tenure_yr'] = df_3['rel_date_int'].apply(lambda x: relativedelta.relativedelta(datetime.strptime('2022-11-10', '%Y-%m-%d'), x).years)
df_3['tenure_yr']

0        3
1       18
2        8
3       10
4       13
        ..
2995    28
2996     9
2997    26
2998    18
2999    11
Name: tenure_yr, Length: 3000, dtype: int64

In [ ]:
#df_3['time_diff']

0       1334 days 21:58:56.795165
1       6670 days 21:58:56.795310
2       2953 days 21:58:56.795345
3       3898 days 21:58:56.795365
4       5026 days 21:58:56.795381
                  ...
2995   10429 days 21:58:56.824751
2996    3514 days 21:58:56.824760
2997    9526 days 21:58:56.824772
2998    6873 days 21:58:56.824782
2999    4067 days 21:58:56.824791
Name: time_diff, Length: 3000, dtype: timedelta64[ns]

###Extracting Time component from datetime (year, day, month)

using df[].dt.dayofweek/year/

In [ ]:
df_3['yr']= df_3['rel_date_int'].dt.year
df_3['dayofweek']= df_3['rel_date_int'].dt.dayofweek
df_3['mth']= df_3['rel_date_int'].dt.month
df_3['month_start']= df_3['rel_date_int'].dt.is_month_start

#Date accessors— The date accessors (represented as dt) provide ready-to-use methods that one can use to extract specific components from a DateTime object.

In [ ]:
print(df_3[['rel_date_int', 'yr', 'dayofweek', 'mth', 'month_start']])

     rel_date_int    yr  dayofweek  mth  month_start
0      2019-03-17  2019          6    3        False
1      2004-08-06  2004          4    8        False
2      2014-10-10  2014          4   10        False
3      2012-03-09  2012          4    3        False
4      2009-02-05  2009          3    2        False
...           ...   ...        ...  ...          ...
2995   1994-04-22  1994          4    4        False
2996   2013-03-28  2013          3    3        False
2997   1996-10-11  1996          4   10        False
2998   2004-01-16  2004          4    1        False
2999   2011-09-22  2011          3    9        False

[3000 rows x 5 columns]

### Group datetime by day / month / year / hour etc

groupby(df[].dt.floor(''))
groupby(df[].dt.to_period(''))

In [ ]:
df_g1 = df_3.groupby(df_3.rel_date_int.dt.to_period('Y')).size() ###group by year/ Month 'M'

In [ ]:
df_g1

rel_date_int
1930    1
1931    2
1932    3
1933    2
1935    1
       ..
2024    1
2025    2
2026    1
2027    2
2028    3
Freq: A-DEC, Length: 91, dtype: int64

In [ ]:
df_g2 = df_3.groupby(df_3.rel_date_int.dt.to_period('M')).size() ###group by year/ Month 'M'

In [ ]:
df_g2

rel_date_int
1930-10    1
1931-02    1
1931-12    1
1932-04    1
1932-05    1
          ..
2027-09    1
2027-10    1
2028-04    1
2028-06    1
2028-11    1
Freq: M, Length: 638, dtype: int64

In [ ]:
df_g3 = df_3.groupby(df_3.rel_date_int.dt.floor('10Min')).size() ###group by year/ Month 'M'

In [ ]:
df_g3

rel_date_int
1930-10-28    1
1931-02-12    1
1931-12-26    1
1932-04-09    1
1932-05-25    1
             ..
2027-09-23    1
2027-10-31    1
2028-04-07    1
2028-06-16    1
2028-11-24    1
Length: 2399, dtype: int64

In [ ]:
##
!git init

Initialized empty Git repository in /content/mydrive/MyDrive/Datetime/.git/

In [ ]:
!git config — global user.email “liux2225@umn.edu”
!git config — global user.name “ShawnLiu119”

usage: git config [<options>]

Config file location
    --global              use global config file
    --system              use system config file
    --local               use repository config file
    -f, --file <file>     use given config file
    --blob <blob-id>      read config from given blob object

Action
    --get                 get value: name [value-regex]
    --get-all             get all values: key [value-regex]
    --get-regexp          get values for regexp: name-regex [value-regex]
    --get-urlmatch        get value specific for the URL: section[.var] URL
    --replace-all         replace all matching variables: name value [value_regex]
    --add                 add a new variable: name value
    --unset               remove a variable: name [value-regex]
    --unset-all           remove all matches: name [value-regex]
    --rename-section      rename section: old-name new-name
    --remove-section      remove a section: name
    -l, --list            list all
    -e, --edit            open an editor
    --get-color           find the color configured: slot [default]
    --get-colorbool       find the color setting: slot [stdout-is-tty]

Type
    --bool                value is "true" or "false"
    --int                 value is decimal number
    --bool-or-int         value is --bool or --int
    --path                value is a path (file or directory name)
    --expiry-date         value is an expiry date

Other
    -z, --null            terminate values with NUL byte
    --name-only           show variable names only
    --includes            respect include directives on lookup
    --show-origin         show origin of config (file, standard input, blob, command line)

usage: git config [<options>]

Config file location
    --global              use global config file
    --system              use system config file
    --local               use repository config file
    -f, --file <file>     use given config file
    --blob <blob-id>      read config from given blob object

Action
    --get                 get value: name [value-regex]
    --get-all             get all values: key [value-regex]
    --get-regexp          get values for regexp: name-regex [value-regex]
    --get-urlmatch        get value specific for the URL: section[.var] URL
    --replace-all         replace all matching variables: name value [value_regex]
    --add                 add a new variable: name value
    --unset               remove a variable: name [value-regex]
    --unset-all           remove all matches: name [value-regex]
    --rename-section      rename section: old-name new-name
    --remove-section      remove a section: name
    -l, --list            list all
    -e, --edit            open an editor
    --get-color           find the color configured: slot [default]
    --get-colorbool       find the color setting: slot [stdout-is-tty]

Type
    --bool                value is "true" or "false"
    --int                 value is decimal number
    --bool-or-int         value is --bool or --int
    --path                value is a path (file or directory name)
    --expiry-date         value is an expiry date

Other
    -z, --null            terminate values with NUL byte
    --name-only           show variable names only
    --includes            respect include directives on lookup
    --show-origin         show origin of config (file, standard input, blob, command line)

In [ ]:
!git clone https://github.com/ShawnLiu119/Mis_datawrangling.git

Cloning into 'Mis_datawrangling'...
warning: You appear to have cloned an empty repository.

In [ ]:
!git status

On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	Data_Wrangling_Tips_Tricks/

nothing added to commit but untracked files present (use "git add" to track)

In [ ]:
!touch Datetime_Manipulation_Practice.ipynb

In [ ]:
!git add -A

In [ ]:
!git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   Data_Wrangling_Tips_Tricks
	new file:   Datetime_Manipulation_Practice.ipynb

In [ ]:
!python Datetime_Manipulation_Practice.ipynb

In [ ]:
!git commit -a -m "first commit"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@237f494f2152.(none)')